* {
    margin: 0px;
padding: 0px;
box-sizing: border-box;
}

body{
    background-image: linear-gradient(90deg,purple,red);
color: lavender;
font-family: 'Courier New', Courier, monospace;
min-height: 100vhh;
}

header{
    font-size: 1.5rem;
}
header,form{
    min-height: 20vh;
display: flex;
justify-content: center;
align-items: center;
}

form input,form button{
    padding: 0.5rem;
font-size: 2rem;
border: none;
background: whitesmoke;
}
form button:hover{
    background: blue;
color: palegreen;

}

.Todo-container{
    display: flex;
justify-content: center;
align-items: center;
}
.Todo-list {
min-width: 30%;
list-style: none;
}
.Todo {
margin: 0.5rem;
background: white;
color: black;
display: flex;
font-size: 1.5rem;
justify-content: space-between;
align-items: center;
}
Todo li{
    flex: 1;
}
.trash-btn,
.complete-btn{
background: rgb(71, 255, 169);
color: white;
padding: 1rem;
border: none;
cursor: pointer;
font-size: 1rem;

}
.complete-btn {
    background: rgb(243, 9, 153);
}

.Todo-item{
    padding: 0rem 0.5rem;
}
.fa-trash,
.fa-check {
    pointer-events: none;
}
.Todo li {
    flex: 1;
}
.completed {
    text-decoration: line-through;
    opacity: 0.5;
}

